h1 {
  color: #014870;
  letter-spacing: -1px;
  text-shadow: 3px 2px #afa8c4;
}

p {
  color: #014870;
  letter-spacing: 5px;
}
body {
  background-image: url("dsc1472-2-1509190.jpg");
  background-color: #cccccc;
}
