h1 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #91AEC0;
  letter-spacing: -1px;
  text-shadow: 3px 2px #014870;
}

p {
  color: #91AEC0;
  letter-spacing: 5px;
}
body {
  background-image: url("dsc1472-2-1509190.jpg");
  background-color: #cccccc;
}
